header .link__catalog {
    border-bottom: 2px solid transparent;
    border-bottom-color:var(--text-primary);
    cursor: text;
}

.catalog__tab[aria-pressed="true"] {
    background-color: var(--background-container);
    color: var(--text-inverse);
}

.more__icon{
    color: var(--text-primary);
}

.hidden__button{
    display: none;
}