*,::after,::before{
    box-sizing: border-box;
}



:root {
    --text-primary: #403f3d;
    --text-inverse: #e1d4c9;
    --text-accent: #b0907a;
    --background-page: #e1d4c9;
    --background-container: #665f55;
    --background-overlay: rgb(64 63 61 / 80%);
    --border-primary: #c1b6ad;
    --border-inverse: #665f55;
    --background-modal: #e1d4c9;
    --background-modalcontrol: #665f55;
}

[data-theme="dark"] {
    --text-primary: #e1d4c9;
    --text-inverse: #e1d4c9;
    --text-accent: #b0907a;
    --background-page: #292826;
    --background-container: #403f3d;
    --background-overlay: rgb(41 40 38 / 80%);
    --border-primary: #665f55;
    --border-inverse: #c1b6ad;
    --background-modal: var(--background-container);
    --background-modalcontrol: var(--background-page);
}

body {
    background-color:var(--background-page);
}

img {
    max-width: 100%;
    height: auto
}

main {
    display: flex;
    width: 380px;
    gap: 100px;
    margin-inline: auto;
}

section, header{
    width: 380px;
    padding-inline: 16px;
    margin-inline: auto;
}


header{
    justify-content: space-between;
}
h1 .heading__mobile-accent{
    font-style: italic;
    color: var(--text-accent);
}

h1 .heading__mobile {
    font-family: var(--font-family);
    font-weight: 600;
    font-style: normal;
    font-size: 42px;
    line-height: 115%;
    color: var(--text-inverse);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.header__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 0;
    margin-top: 20px;
    margin-inline: auto;
}

.hero__container{
    display: flex;
    padding: 60px 16px;
    background-image: url('../images/img-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}

.offer__container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.offer__heading{
    font-family: var(--font-family);
        font-weight: 600;
        font-style: italic;
        font-size: 42px;
        line-height: 115%;
        color: var(--text-accent);
}

button.offer__button{
    border-radius: 100px;
    padding: 20px 64px;
    background: var(--text-inverse);
}

.header__menu{
    display: flex;
    justify-content: space-between;
    margin-inline:16px;
}

nav.header__nav{
    display: none;
}

.logo__image{
    max-width: 100px;
    height: auto;
}

.desktop__link-catalog{
    display: flex;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-primary);
    display: none;
}
.mobile__link-catalog {
    display: flex;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    color: var(--text-primary);
}

.desktop__link-catalog img{
    width: 20px;
    height: 20px;
}